@inject IStringLocalizer<Global> L
<LayoutView Layout="typeof(LoginLayout)">
    <LoadingBackground>
        <div class="login-body">
            <label>@L["PleaseWait"]</label>
        </div>
    </LoadingBackground>
</LayoutView>