<div class="triangle-container">
    <div class='loading' style="justify-content: center; background-position: top center">
        <div class='loading__square'></div>
        <div class='loading__square'></div>
        <div class='loading__square'></div>
        <div class='loading__square'></div>
        <div class='loading__square'></div>
        <div class='loading__square'></div>
        <div class='loading__square'></div>
    </div>
    <div class='loading' style="justify-content: center; background-position: top center">
        @ChildContent
    </div>
</div>


@code {
    [Parameter]
    public bool ShowLogoBox { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
