@using Microsoft.AspNetCore.Components
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject AppState appState
@inject IStringLocalizer<Global> L

<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <a href="@navigationManager.ToAbsoluteUri("help").AbsoluteUri" class="menu__link">Помощь</a>
        <a href="@navigationManager.ToAbsoluteUri("account/profile").AbsoluteUri" class="menu__link">Личный кабинет</a>
        <MatButton OnClick="LogoutClick"
                   Style="background-color: #4F94C1; color: snow; border-radius: 5px">
            Выйти
        </MatButton>
    </Authorized>
    <NotAuthorized>
        <a href="/about-us" class="menu__link">О нас</a>
        <MatButton Link="@BlazorBoilerplate.Constants.Settings.LoginPath"
                   Style="background-color: #4F94C1; color: snow; border-radius: 5px">
            Войти
        </MatButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task LogoutClick()
    {
        appState.ClearUserProfile();
        await ((IdentityAuthenticationStateProvider)authStateProvider).Logout();

        if (navigationManager.IsWebAssembly())
            navigationManager.NavigateTo(BlazorBoilerplate.Constants.Settings.LoginPath);

    }
}
