<LayoutView Layout="typeof(MainLayout)">
    <LoadingBackground>
        <div class="login-body">
            <h1>Страница не найдена</h1>
            <label>Пожалуйста, проверьте URL</label><br />
        </div>
    </LoadingBackground>
</LayoutView>