
<div style="min-height: 400px;">
    @if (Text != null)
    {
        @((MarkupString)Text?.TextContent)
    }
</div>
<MatDivider />

@code {
    [Parameter]
    public Text Text { get; set; }

    [Parameter]
    public bool IsAdminOrCoordinator { get; set; }
}
