@page "/externalauth/confirm"

@inject AppState appState
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Global> L
@inject IMatToaster matToaster
<MatCard>
    <div class="logo" style="padding: 50px;">
        <img src="_content/BlazorBoilerplate.Theme.Material/images/logo-work.png" style="width:100px;" /><br /> Worklab
        <br />
        <h4>Успех! Проверьте почту</h4>
        <MatButton Link="/" Raised="true">Главная</MatButton>
    </div>
</MatCard>

@code {



}
