@implements IDynamicComponent

    <a href="/" class="menu__link">Главная</a>
    <a href="/program_list" class="menu__link">Программы</a>
<Login />

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "TopRightBarSection"; }
}
